nav.teal
    div.nav-wrapper.container
        a(href="/").brand-logo
            i.material-icons home
        ul.right.hide-on-med-and-down
            li
                a(href="/login") Ingreso
            li
                a(href="/signup") Registro
            li
                a(href="/guide") Manual de usuario
        ul.side-nav(id="nav-mobile")
            li
                a(href="/") Inicio
            li
                a(href="/login") Ingreso
            li
                a(href="/signup") Registro
            li
                a(href="/guide") Manual de usuario
        a(href="#",data-activates="nav-mobile",class="button-collapse")
            i.material-icons menu