footer.page-footer.teal
    div.container
        div.row
            div.col.m6.s12
                h5.white-text.center Sobre este sitio
                p.justify.grey-text.text-lighten-4 Este aplicativo es el resultado del proyecto titulado "Prototipo web responsivo para la aplicación de actividades de evaluación en los procesos de enseñanza aprendizaje de la educación básica y media", para optar al título de Ingeniería de Sistemas en la Universidad Distrital Francisco José de Caldas.
            div.col.m6.s12.center
                h5.white-text Autor
                p.white-text Daniel Fernando Franco Beltrán
                p.white-text Proyecto curricular de Ingeniería de Sistemas
                p.white-text Universidad Distrital Francisco José de Caldas
    div.footer-copyright
        div.container
            div.row.center
                div.col.s12.valign-wrapper
                    i.material-icons.valign copyright
                    | 2016 - Todos los derechos reservados.