nav.teal
    div.nav-wrapper.container
        a(href="/").brand-logo
            i.material-icons home
        ul.right.hide-on-med-and-down
            li
                a(href="/gallery") Galería
            li
                a(href="/question") Preguntas
            li
                a(href="/assessment") Evaluaciones
            li
                a(href="/record") Calificaciones
            li
                a(href="/guide") Manual de usuario
            li
                a(href="/survey/teacher") Encuesta
            li
                a(href="/logout",ng-click="clear()") Salir
        ul.side-nav(id="nav-mobile")
            li
                a(href="/gallery") Galería
            li
                a(href="/question") Preguntas
            li
                a(href="/assessment") Evaluaciones
            li
                a(href="/record") Calificaciones
            li
                a(href="/guide") Manual de usuario
            li
                a(href="/survey/teacher") Encuesta
            li
                a(href="/logout",ng-click="clear()") Salir
        a(href="#",data-activates="nav-mobile",class="button-collapse")
            i.material-icons menu