div.modal(id="modal-password")
    div.modal-content
        div.row.center
            div.col.s12
                pre.red-text {{message}}
        div.row.center(ng-show="hideModal")
            div.col.s12
                p.teal-text
                    i.material-icons.large check_circle
            div.col.s12
                h5.teal-text Se ha cambiado la contraseña
            div.col.s12
                button.btn.modal-action.modal-close(ng-click="clearPassword()")
                    span Cerrar   
        div.row.center(ng-show="!hideModal")
            div.col.s12
                h5.teal-text Cambio de clave
            div.col.s8.offset-s2
                div.input-field
                    input(type="password",name="password",ng-model="password")
                    label(for="password") Nueva clave
    div.modal-footer(ng-show="!hideModal")
        button.btn.modal-action.modal-close(ng-click="clearPassword()")
            span Cancelar
        button.btn(ng-click="changePassword()")
            span Cambiar