.nw-editor{
    max-height: 250px;
}

#ng-wig-editable ul{
    list-style-type: square;
    background-color: red;
}

.nw-button.btn-text-h1:before{
    content: 'h1';
}

.nw-button.btn-text-h2:before{
    content: 'h2';
}

.nw-button.btn-text-h3:before{
    content: 'h3';
}

.nw-button.btn-text-h4:before{
    content: 'h4';
}

.nw-button.btn-text-h5:before{
    content: 'h5';
}

.nw-button.btn-text-h6:before{
    content: 'h6';
}

.nw-button.btn-text-p:before{
    content: 'p';
}

#editor{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.editor-text{
    min-height: 0px;
    max-height: 300px;
    padding: 20px;
    overflow-y: auto;
}

.preview{
    width: 100px;
    height: 100px;
}

.audio-preview{
    width: 250px;
    height: 50px;
}

.img-preview{
    width: 200px;
    height: 200px;
}

.video-preview{
    width: 300px;
    height: 300px;
}

.modal-large{
    width: 90%;
}

.list-container{
    padding: 10px;
}

.list{
    width: auto;
    min-height: 300px;
}

.list-item{
    border: 1px solid teal;
    margin: 5px;
    padding: 1px;
}

.correct{
    border: 1px solid teal;
}

.wrong{
    border: 1px solid red;
}

.justify{
    text-align:justify;
}