div.modal(id="modal-password")
    div.modal-content
        div.row.center
            div.col.s12
                pre.red-text {{modal_message}}
        div.row.center(ng-show="solved")
            div.col.s12
                p.yellow-text
                    i.material-icons.large warning
            div.col.s12
                h5.teal-text Usted ya presentó esta evaluación.
            div.col.s12
                button.btn.modal-action.modal-close(ng-click="clear()")
                    span Cerrar
        div.row.center(ng-show="valid")
            div.col.s12
                p.teal-text
                    i.material-icons.large check_circle
            div.col.s12
                h5.teal-text Haga click en el botón para iniciar la evaluación
            div.col.s12
                button.btn(ng-click="load()")
                    span Iniciar
        div.row(ng-show="!valid && !solved")
            div.col.s12
                div.row
                    div.col.s9.offset-s2
                        h5.teal-text Ingrese la contraseña proporcionada por el docente
                    div.col.s8.offset-s2
                        div.input-field
                            input(type="text",name="password",ng-model="password")
                            label(for="password") Clave
    div.modal-footer(ng-show="!valid && !solved")
        button.btn.modal-action.modal-close(ng-click="clear()")
            span Cancelar
        button.btn(ng-click="validate()")
            span Validar